.page3-bg{
    background-image:url('../img/page3img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65.7vh;
    
}

.page3-title {
    color: white;
    text-align: center;
    margin-left: 320px;
    border-radius: 25px;
    border: solid rgba(255, 255, 255, 0.5) 2px;
    font-size: 10px;
    width: 600px;
    height: 70px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.15); /* Transparent white */
    backdrop-filter: blur(10px); /* Adds the glassy blur effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}




.page3-logos{
    display: flex;
    justify-content: space-around;
    gap: 600px;
    margin-top: 20px;
}

.page3-title2{
  margin-top: 30px;

 text-align: center;
  color: #0F5B92;
}

.page3-title2 p{
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 22px;
}

.page3-list1{
    display: flex;
    /* justify-content: space-evenly; */
      gap: 150px;
      padding-left: 350px;
      text-align: center;
    color: gray;
     font-size: 12px;
}

.bo{
    border-left: none;
    border-right: solid gray 2px;
    height: 8vh;
    border-bottom: none;
    border-top: none;
}

